@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$blk:  #000;
$gray: #707070;
$light-gray:  #BABABA;

*, *::after, *::before {
    margin: 0; padding: 0; box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.wrapper {
    width: 85%;
    margin: auto;
}
a {
    text-decoration: none;
    color: $blk;
    &:hover {
        // color: $light-gray;
        text-decoration: underline;
    }
}
ul {
    list-style-type: none;
}

// NAVIGATION--------------------------------------------------------------
.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    width: 100%;
    height: 90px;
    background-color: #fff;
    > .wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin: auto;
        align-items: center;
        justify-content: center;
        > a {
            vertical-align: bottom;
        }
        .nav-logo {
            height: 20px;
        }
    }
    .nav-desk {
        display: none;
    }
}
.nav-desk {
    display: none;
}
.nav-mob--wrap {
    display: none;
}
// .nav-mob--wrap {
//     position: absolute;  
//     top: 0;
//     right: 0;
//     z-index: 1;
//     .toggler {
//         position: absolute;
//         top: 0;
//         right: 0;
//         z-index: 2;
//         cursor: pointer;
//         width: 30px;
//         height: 20px;
//         opacity: 0;
//     }
//     .hamburger {
//         position: absolute;
//         top: 0;
//         right: 0;
//         z-index: 1;
//         width: 25px;
//         height: 20px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         > div {
//             position: relative;
//             width: 100%;
//             height: 3px;
//             background-color: $blk;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             transition: all 0.4s ease;
//             &::before, &::after {
//                 content: '';
//                 position: absolute;
//                 z-index: 1;
//                 top: -8px;
//                 width: 100%;
//                 height: 3px;
//                 background: inherit;
//             }
//             &::after {
//                 top: 8px;
//             }
//         }
//     }
//     // .toggler:checked ~ .nav-mob {
//     //     visibility: visible;
//     //     opacity: 1;
//     // }
//     .toggler:checked + .hamburger > div {
//         transform: rotate(135deg);
//     }
//     .toggler:checked + .hamburger > div::before,
//     .toggler:checked + .hamburger > div::after {
//         top: 0;
//         transform: rotate(90deg);
//     }
//     .toggler:checked:hover + .hamburger > div {
//         transform: rotate(225deg);
//     }
//     .nav-mob {
//         visibility: hidden;
//         position: fixed;
//         top: 90px;
//         left: 0;
//         width: 100vw;
//         // height: calc(100vh - 90px);
//         display: flex;
//         flex: none;
//         align-items: center;
//         overflow: hidden;
//         background: rgba(255, 255, 255, 0.92);
//         opacity: 1;
//         transition: all 0.4s ease;
//         > ul {
//             width: 80%;
//             margin: 0 auto;
//             li {
//                 margin: 2em auto;
//                 // border-top: 1px solid $light-gray;
//                 a {
//                     font-size: 1.2em; 
//                 }
//             }
//         }
//     }
// }

// GALLERY--------------------------------------------------------------
.gallery {
    margin: 90px auto 100px auto;
}
.my-gallery {
    figure {
        margin-bottom: 30px;
    }
    .gallery-img {
        display: block;
        height: 100%;
        width: 100%;
    }
}

// QUERY: TABLET--------------------------------------------------------------
@media screen and (min-width: 900px) {
    // .nav-bar {
    //     .nav-desk {
    //         display: block;
    //         li {
    //             display: inline-block;
    //             margin-left: 70px;
    //         }
    //     }
    // }
    .nav-desk {
        display: none;
    }
    .nav-mob--wrap {
        display: none;
    }

    .my-gallery {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 10px;
        width: 100%;
        .gFig {
            margin: 0;
            overflow: hidden;
        }
        .gallery-img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .g1 {
            grid-column: span 6;
            grid-row: span 2;
        }
        .g2 {
            grid-column: span 2;
        }
        .g3 {
            grid-column: span 2;
        }
        .g4 {
            grid-column: span 2;
        }
        .g5 {
            grid-column: span 3;
            grid-row: span 2;
        }
        .g6 {
            grid-column: span 3;
            grid-row: span 2;
        }
    }
}