@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$blk:  #000;
$gray: #707070;
$light-gray:  #BABABA;

*, *::after, *::before {
    margin: 0; padding: 0; box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
a {
    text-decoration: none;
    color: $blk;
    &:hover {
        // color: $light-gray;
        text-decoration: underline;
    }
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
}
.head-wrapper {
    display: flex;
    margin: 1.5em 6em;
    justify-content: space-between;
    align-items: center;
    .head-logo {
        height: 20px;
        vertical-align: text-bottom;
    }
    nav {
        a {
            display: inline-block;
            margin-left: 50px;
            padding: 1em 2em;
        }
        a:last-child {
            padding-right: 0;
        }
    }
    // background-color: #eee;
}

.gallery-wrapper {
    margin: 0 6em;
    // overflow: hidden;
}
.my-gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(16, 12vh);
    grid-gap: 10px;
}
.gallery-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.gFig {
    overflow: hidden;
}
.g1 {
    grid-column: span 8;
    grid-row: span 6;
}
.g2 {
    grid-column: span 4;
    grid-row: span 4;
}
.g3 {
    grid-column: span 4;
    grid-row: span 5;
}
.g4 {
    grid-column: span 4;
    grid-row: span 6;
    img {
        object-position: 70% 0;
    }
}
.g5 {
    grid-column: span 4;
    grid-row: span 3;
}
.g6 {
    grid-column: span 8;
    grid-row: span 6;
}
.g7 {
    grid-column: span 4;
    grid-row: span 3;
}
